files:
  "/home/ec2-user/monitoring_agent_setup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
        #!/bin/bash
        sudo wget https://deali-mgmt-test-bucket.s3.ap-northeast-2.amazonaws.com/ebextentions/ebextentions_monitor.sh
        sh ebextentions_monitor.sh
        sudo rm -rf ebextentions_monitor.sh
container_commands:
  00_set_up:
    command: bash /home/ec2-user/monitoring_agent_setup.sh
  01_remove_script:
    command: rm -rf /home/ec2-user/monitoring_agent_setup.sh*